.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
} 

body{
    margin: 0px;
    text-align: center;
    font-family: serif;
    color: #40514E;
}

p{
    font-family: sans-serif;
}
h2{
    font-family: Montserrat, sans-serif;
    font-size: 2.0rem;
    color: #66BFBF;
    font-weight: normal;
    margin-top: 1.875rem;
}

h1{
    font-size: 3.00rem;  
    margin: 1.875rem auto 0 auto;
    font-family: 'Sansita Swashed', cursive;
    color: #66BFBF;
}

h3{
    color: #11999E;
    
}
a{
    color: #11999E;
}


.bottom-container{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #66BFBF;
}

.mountain{
    background-color: #EAF6F6;
}
.bottom-cloud{
    position: absolute;
    left: 21.875rem;
    bottom: 18.75rem;
}

.top-cloud{
    position: absolute;
    top: 3.125rem;
    right: 21.875rem;
}

.stu{
    text-decoration-line: underline;
}
 .skill-row{
    width: 50%;
    margin: 70px auto 70px auto;
    text-align: left;
    line-height: 1.5;
} 
.cpp{
    width: 15%;  
    float: left; 
    margin-right: 20px;
}
.dsa{
    width: 25%;  
    float: right; 
    margin-right: 20px;
}
.hello{
    text-align: center;
    margin: 70px auto 70px auto;
    width: 500px;

}

hr{
    background-color: white;
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 3%;
}

.profile{
    margin-top: 50px;
}
.skills{
    margin-top: 70px;
}

.BUTTON {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; */
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
 }
 
 .BUTTON:hover {
    border: solid #66BFBF 1px;
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px; */
    /* border-radius: 20px; */
    text-decoration: none;

 }

 .footer{
    color: #EAF6F6;
    padding-top: 1rem ;
 }